<div class="container-fluid">
    <div class="cabecera"></div>
    <main>
    <div class="caja--principal">
        <div class="row flex-column">
        <div class="col-5"></div>
        <div class="formulario col-5 align-self-center">
            <h3 class="h3 text-center text-white p-3">Registrar nuevo usuario</h3>
            <div class="form-floating mb-3">
                <input type="text" class="form-control --nombre" id="floatingInput" placeholder="Ingrese su nombre">
                <label for="floatingInput">Ingrese nombre</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control --apellido" id="floatingInput" placeholder="Ingrese su apellido">
                <label for="floatingInput">Ingrese apellido</label>
              </div>
            <div class="form-floating mb-3">
                <input type="email" class="form-control --email" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Ingrese su email </label>
              </div>
              <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Ingrese contraseña</label>
              </div>              
              <button type="button" class="btn btn-secondary mt-3 w-3">REGISTAR</button>
        </div>
    </div>
</div>
</main>
</div>
